<!DOCTYPE html>
<html>
    <head>
        <title>Go upskilling crash course</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Index</h1>
        <ul>
            {%- for lesson in collections.basic -%}
                <li>
                    <a href="#{{ lesson.fileSlug}}">{{ lesson.data.title }}</a>
                </li>
            {%- endfor -%}
        </ul>
        {%- for lesson in collections.basic -%}
            <section id="{{ lesson.fileSlug }}">
                <h2>{{ lesson.data.title }}</h2>
                {% markdown lesson.inputPath %}
            </section>
        {%- endfor -%}
    </body>
</html>