<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <title>Go upskilling crash course</title>
        <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.2/build/styles/monokai.min.css">
        <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.2/build/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <script>
            function toggle() {
                var element = document.getElementById("menu");
                element.classList.toggle("show");
            }
        </script>
        <link rel="stylesheet" href="style.css" type="text/css">
        <link rel="stylesheet" href="print.css" type="text/css" media="print">
    </head>
    <body>
        <header>
            {% include menu %}
            <section class="content">
                <h1>Go Upskilling Course</h1>
                <button onclick="toggle()">
                    <svg width="100%" height="100%" viewBox="0 0 7 7" xmlns="http://www.w3.org/2000/svg" data-svg="menu">
                        <rect y="1" width="8" height="1"></rect>
                        <rect y="3" width="8" height="1"></rect>
                        <rect y="5" width="8" height="1"></rect>
                    </svg>
                </button>
            </section>
        </header>
        <main class="content">
            {%- for name in sections -%}
                {% assign collection = collections[name] | sortByIndex %}
                {%- for lesson in collection -%}
                    <hr id="{{ lesson.data.title | slug }}">
                    <section>
                        {% markdown lesson.inputPath %}
                    </section>
                {%- endfor -%}
            {%- endfor -%}
        </main>
        <footer>
            <p>Some footer notice</p>
        </footer>
    </body>
</html>